[Desktop Entry]
Type=Application
Name=GasTube
Comment=Watch videos
Exec=fluxtube
Icon=fluxtube
Categories=AudioVideo;Video;Player;
StartupNotify=true
Terminal=false
