[Desktop Entry]
Type=Application
Name=GasTube
Comment=Watch videos
Exec=gastube
Icon=gastube
Categories=AudioVideo;Video;Player;
StartupNotify=true
Terminal=false
